# Compiled output
/target/
/build/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.sts4-cache
.apt_generated
.factorypath
.springBeans

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs & temp
*.log
*.tmp
.DS_Store
Thumbs.db

# Local config (optional)
HELP.md

# 其他
# interview/
